<!-- BEGIN: LAYOUT/HEADERS/HEADER-2 -->
<!-- BEGIN: HEADER 2 -->
<header class="c-layout-header c-layout-header-6 c-navbar-fluid" data-minimize-offset="80">
  <div class="c-topbar">
    <div class="container">
      <nav class="c-top-menu">
        <ul class="c-links c-theme-ul">
          <li>
            <a href="http://www.softtennis-lafino.jp/fs/softtennis/c/request" class="c-font-uppercase c-font-bold">お問合せ</a>
          </li>
          <li>
            <a href="http://www.softtennis-lafino.jp/fs/softtennis/c/guide" class="c-font-uppercase c-font-bold">お買物ガイド</a>
          </li>
          <li>
            <a href="http://www.softtennis-lafino.jp/fs/softtennis/c/shopintroduction" class="c-font-uppercase c-font-bold">お店紹介</a>
          </li>
          <li>
            <a href="https://c07.future-shop.jp/fs/softtennis/MemberEntryEdit.html" class="c-font-uppercase c-font-bold c-font-dark">会員登録</a>
          </li>
          <li>
            <a href="https://c07.future-shop.jp/fs/softtennis/Login.html?url=https://c07.future-shop.jp/fs/softtennis/MyPageTop.html" class="btn c-theme-btn c-btn-square c-btn-uppercase c-btn-bold">ログイン</a>
          </li>
        </ul>
      </nav>
      <div class="c-brand">
        <a href="http://www.softtennis-lafino.jp" class="c-logo">
          <img src="{{ ssl_url('img/logo_lafino_B.png') }}" alt="ソフトテニスショップ LAFINO" class="c-desktop-logo">
          <img src="{{ ssl_url('img/logo_lafino_B.png') }}" alt="ソフトテニスショップ LAFINO" class="c-desktop-logo-inverse">
          <img src="{{ ssl_url('img/logo_lafino_B.png') }}" alt="ソフトテニスショップ LAFINO" class="c-mobile-logo"> </a>
        <ul class="c-icons c-theme-ul">
          <li>
            <a href="https://twitter.com/soft_lafino">
              <i class="icon-social-twitter"></i>
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/lafino.softtennis/">
              <i class="icon-social-facebook"></i>
            </a>
          </li>
          <li>
            <a href="https://www.youtube.com/channel/UCOA_LwKg8NpptTYg02FfLcQ">
              <i class="icon-social-youtube"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="icon-social-instagram"></i>
            </a>
          </li>
        </ul>
        <button class="c-topbar-toggler" type="button">
          <i class="fa fa-ellipsis-v"></i>
        </button>
        <button class="c-hor-nav-toggler" type="button" data-target=".c-mega-menu">
          <span class="c-line"></span>
          <span class="c-line"></span>
          <span class="c-line"></span>
        </button>
      </div>
    </div>
  </div>
  <div class="c-navbar">
    <div class="container">
      <!-- BEGIN: BRAND -->
      <div class="c-navbar-wrapper clearfix">
        <!-- END: BRAND -->
        {{ include('mega_menu/mega_menu.html.twig') }}
      </div>
      <!-- BEGIN: LAYOUT/HEADERS/QUICK-CART -->
      <!-- END: LAYOUT/HEADERS/QUICK-CART -->
    </div>
  </div>
</header>
<!-- END: HEADER 2 -->
<!-- END: LAYOUT/HEADERS/HEADER-2 -->