<!DOCTYPE html>
<html lang="ja">
{{ include('layouts/_head.html.twig') }}

<body class="c-layout-header-fixed c-layout-header-6-topbar">
  {% block header %}
    {{ include('layouts/_header.html.twig') }}
  {% endblock %}

  <div class="c-layout-page">
    {% block slider %}
    {% endblock %}

    {% block contents %}
      {% block main %}
        ここにメインコンテンツを表示する
      {% endblock %}
    {% endblock %}
  </div>

  {% block footer %}
    {{ include('layouts/_footer.html.twig') }}
  {% endblock %}

  {% block bottom %}
    {{ include('layouts/_bottom.html.twig') }}
  {% endblock %}
</body>
</html>
