<!DOCTYPE html>
<html lang="ja">
{{ include('layouts/_head.html.twig') }}

<body class="c-layout-header-fixed c-layout-header-6-topbar">
  {% block header %}
    {{ include('layouts/_header.html.twig') }}
  {% endblock %}

  {% block contents %}
      ここにコンテンツを表示する
  {% endblock %}

  {% block footer %}
    {{ include('layouts/_footer.html.twig') }}
  {% endblock %}

  {% block bottom %}
    {{ include('layouts/_bottom.html.twig') }}
  {% endblock %}
  {% block pagescript %}
  {% endblock %}
</body>
</html>
