{% extends "layouts/base.html.twig" %}

{% block contents %}
  <!-- BEGIN: PAGE CONTAINER -->
  <div class="c-layout-page">
    <div class="container">
      {% block sidebar %}
        {{ include('sidebar/sidebar.html.twig') }}
      {% endblock %}

      {% block main_contents %}
        <h1>メインコンテンツ</h1>
        <p>ここにメインコンテンツを表示する</p>
      {% endblock %}
    </div>
  </div>
  <!-- END: PAGE CONTAINER -->
{% endblock %}