<!-- BEGIN: CONTENT/SHOPS/SHOP-2-4 -->
<div class="c-content-box c-size-md c-overflow-hide c-bs-grid-small-space" style="background-image: url({{ ssl_url('assets/base/img/content/shop-backgrounds/145.jpg') }})">
  <div class="container">
    <div class="c-content-title-1">
      <h3 class="c-font-uppercase c-center c-font-bold c-font-white">店長のお勧め商品</h3>
      <div class="c-line-center c-theme-bg"></div>
    </div>
    <div class="row">
      {# おすすめ商品の雛形
      <div class="col-md-3 col-sm-6 c-margin-b-20">
        <div class="c-content-product-2 c-bg-grey-1">
          <div class="c-content-overlay">
            <div class="c-label c-bg-red c-font-uppercase c-font-white c-font-13 c-font-bold">Sale</div>
            <div class="c-label c-label-right c-theme-bg c-font-uppercase c-font-white c-font-13 c-font-bold">New</div>
            <div class="c-overlay-wrapper">
              <div class="c-overlay-content">
                <a href="ここに商品ページのURLを入れる" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">見てみる</a>
              </div>
            </div>
            <div class="c-bg-img-center c-overlay-object" data-height="height"
              style="height: 330px; background-image: url('ここに商品画像のURLを入れる');"></div>
          </div>
          <div class="c-info">
            <p class="c-title c-font-18 c-font-slim">ここに表品名を入れる</p>
            <p class="c-price c-font-16 c-font-slim">&yen;ここに値引き後価格を入れる &nbsp;
              <span class="c-font-16 c-font-line-through c-font-red">&yen;ここに値引き前価格を入れる</span>
            </p>
          </div>
        </div>
      </div>
      #}
      <div class="col-md-3 col-sm-6 c-margin-b-20">
        <div class="c-content-product-2 c-bg-grey-1">
          <div class="c-content-overlay">
            <div class="c-overlay-wrapper">
              <div class="c-overlay-content">
                <a href="http://www.softtennis-lafino.jp/fs/softtennis/F-LASER/FLR7V-001" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">見てみる</a>
              </div>
            </div>
            <div class="c-bg-img-center c-overlay-object" data-height="height"
              style="height: 330px; background-image: url('http://www.softtennis-lafino.jp/shop/item/softtennis/picture/goods/8_1.jpg');"></div>
          </div>
          <div class="c-info">
            <p class="c-title c-font-18 c-font-slim">YONEX ラケット<br>F-LASER 7V（前衛用）</p>
            <p class="c-price c-font-16 c-font-slim">&yen;19,008 &nbsp;
              <span class="c-font-16 c-font-line-through c-font-red">&yen;21,384</span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 c-margin-b-20">
        <div class="c-content-product-2 c-bg-grey-1">
          <div class="c-content-overlay">
            <div class="c-overlay-wrapper">
              <div class="c-overlay-content">
                <a href="http://www.softtennis-lafino.jp/fs/softtennis/soft-racket/63JTN73754" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">見てみる</a>
              </div>
            </div>
            <div class="c-bg-img-center c-overlay-object" data-height="height"
              style="height: 330px; background-image: url('http://www.softtennis-lafino.jp/shop/item/softtennis/picture/goods/1_1.jpg');"></div>
          </div>
          <div class="c-info">
            <p class="c-title c-font-18 c-font-slim">mizuno ラケット<br>Xyst T-ZERO SONIC（前衛用）</p>
            <p class="c-price c-font-16 c-font-slim">&yen;24,300 &nbsp;
              <span class="c-font-16 c-font-line-through c-font-red">&yen;27,000</span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 c-margin-b-20">
        <div class="c-content-product-2 c-bg-grey-1">
          <div class="c-content-overlay">
            <div class="c-overlay-wrapper">
              <div class="c-overlay-content">
                <a href="http://www.softtennis-lafino.jp/fs/softtennis/soft-shoes/61GB171301" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">見てみる</a>
              </div>
            </div>
            <div class="c-bg-img-center c-overlay-object" data-height="height"
              style="height: 330px; background-image: url('http://www.softtennis-lafino.jp/shop/item/softtennis/picture/goods/40_1.jpg');"></div>
          </div>
          <div class="c-info">
            <p class="c-title c-font-18 c-font-slim">mizuno テニスシューズ<br>WAVE EXCEED OC</p>
            <p class="c-price c-font-16 c-font-slim">&yen;12,441 &nbsp;
              <span class="c-font-16 c-font-line-through c-font-red">&yen;13,824</span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 c-margin-b-20">
        <div class="c-content-product-2 c-bg-grey-1">
          <div class="c-content-overlay">
            <div class="c-overlay-wrapper">
              <div class="c-overlay-content">
                <a href="http://www.softtennis-lafino.jp/fs/softtennis/soft-gut/SGVA" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">見てみる</a>
              </div>
            </div>
            <div class="c-bg-img-center c-overlay-object" data-height="height"
              style="height: 330px; background-image: url('http://www.softtennis-lafino.jp/shop/item/softtennis/picture/goods/9_1.jpg');"></div>
          </div>
          <div class="c-info">
            <p class="c-title c-font-18 c-font-slim">YONEX ガット<br>V-ACCEL 1.25mm</p>
            <p class="c-price c-font-16 c-font-slim">&yen;1,814 &nbsp;
              <span class="c-font-16 c-font-line-through c-font-red">&yen;2,268</span>
            </p>
          </div>
        </div>
      </div>
   </div>
  </div>
</div>
<!-- END: CONTENT/SHOPS/SHOP-2-4 -->