<div class="c-content-box c-size-md c-bg-white">
  <div class="container">
    <div class="c-content-bar-2 c-opt-1">
      <div class="row">
      <div class="col-md-6">
        <div class="c-content-title-1 c-theme c-title-md c-margin-t-40">
          <h3 class="c-font-bold c-font-uppercase">お知らせ</h3>
        </div>
        <div>
          <ul class="c-content-recent-posts-1">
            <li>
              <div class="c-post">
                <a href="https://c07.future-shop.jp/fs/softtennis/MemberEntryEdit.html" class="c-title"> ソフトテニスショップ LAFINO オープン！ </a>
                <div class="c-date">2017/03/22（水）</div>
              </div>
            </li>
            <li>
              <div class="c-post">
              <a href="https://c07.future-shop.jp/fs/softtennis/MemberEntryEdit.html" class="c-title"> オープンキャンペーン！<br>会員登録ですぐに使える 1,000円分のポイント進呈！ </a>
                <div class="c-date">2017/03/22（水）</div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-6">
        <div class="c-content-title-1 c-theme c-title-md c-margin-t-40">
          <h3 class="c-font-bold c-font-uppercase">ピックアップ</h3>
        </div>
        <div class="c-content-v-center c-bg-red" data-height="height">
          <div class="c-wrapper">
            <div class="c-body c-center">
              <h3 class="c-font-white c-font-bold">オープンキャンペーン！<br>今すぐ使える 1,000円 分のポイント進呈！</h3>
              <br>
              <a href="https://c07.future-shop.jp/fs/softtennis/MemberEntryEdit.html" class="btn btn-md c-btn-square c-theme-btn c-btn-uppercase c-btn-bold">今すぐ登録</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>