<!-- BEGIN: CONTENT/SHOPS/SHOP-2-2 -->
<div class="c-content-box c-size-md c-overflow-hide c-bs-grid-small-space">
  <div class="container">
    <div class="c-content-title-4">
      <h3 class="c-font-uppercase c-center c-font-bold c-line-strike">
        <span class="c-bg-white">新着商品</span>
      </h3>
    </div>
    <div class="row">
      <div data-slider="owl">
        <div class="owl-carousel owl-theme c-theme owl-small-space c-owl-nav-center" data-rtl="false" data-items="4" data-slide-speed="8000">
          <div class="item">
            <div class="c-content-product-2 c-bg-white c-border">
              <div class="c-content-overlay">
                <div class="c-label c-bg-red c-font-uppercase c-font-white c-font-13 c-font-bold">New</div>
                <div class="c-overlay-wrapper">
                  <div class="c-overlay-content">
                  <a href="http://www.softtennis-lafino.jp/fs/softtennis/F-LASER/FLR7S-001" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">詳しく見る</a>
                </div>
              </div>
              <div class="c-bg-img-center-contain c-overlay-object" data-height="height" style="height: 270px; background-image: url('http://www.softtennis-lafino.jp/shop/item/softtennis/picture/goods/7_1.jpg');"></div>
            </div>
            <div class="c-info">
              <p class="c-title c-font-18 c-font-slim">YONEX racket special</p>
              <p class="c-price c-font-16 c-font-slim">&yen;21,384- &nbsp;
                <span class="c-font-16 c-font-line-through c-font-red">&yen;19,008-</span>
              </p>
            </div>
          </div>
        </div>
          <div class="item">
          <div class="c-content-product-2 c-bg-white c-border">
            <div class="c-content-overlay">
                <div class="c-label c-bg-red c-font-uppercase c-font-white c-font-13 c-font-bold">New</div>            
              <div class="c-overlay-wrapper">
                <div class="c-overlay-content">
                  <a href="http://www.softtennis-lafino.jp/fs/softtennis/soft-shoes/61GB171301" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">詳しく見る</a>
                </div>
              </div>
              <div class="c-bg-img-center-contain c-overlay-object" data-height="height" style="height: 270px; background-image: url('http://www.softtennis-lafino.jp/shop/item/softtennis/picture/goods/40_1.jpg');"></div>
            </div>
            <div class="c-info">
              <p class="c-title c-font-18 c-font-slim">MIZUNO WAVE EXCEED OC</p>
              <p class="c-price c-font-16 c-font-slim">&yen;13,824- &nbsp;
                <span class="c-font-16 c-font-line-through c-font-red">&yen;12,441-</span>
              </p>
            </div>
          </div>
        </div>
          <div class="item">
          <div class="c-content-product-2 c-bg-white c-border">
            <div class="c-content-overlay">
                <div class="c-label c-bg-red c-font-uppercase c-font-white c-font-13 c-font-bold">New</div>            
              <div class="c-overlay-wrapper">
                <div class="c-overlay-content">
                  <a href="http://www.softtennis-lafino.jp/fs/softtennis/soft-gut/SGVA" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">詳しく見る</a>
                </div>
              </div>
              <div class="c-bg-img-center-contain c-overlay-object" data-height="height" style="height: 270px; background-image: url('http://www.softtennis-lafino.jp/shop/item/softtennis/picture/goods/9_1.jpg');"></div>
            </div>
            <div class="c-info">
              <p class="c-title c-font-18 c-font-slim">YONEX V-ACCEL 1.25mm</p>
              <p class="c-price c-font-16 c-font-slim">&yen;3,024- &nbsp;
                <span class="c-font-16 c-font-line-through c-font-red">&yen;1,814-</span>
              </p>
            </div>
          </div>
        </div>
          <div class="item">
          <div class="c-content-product-2 c-bg-white c-border">
            <div class="c-content-overlay">
                <div class="c-label c-bg-red c-font-uppercase c-font-white c-font-13 c-font-bold">New</div>
              <div class="c-overlay-wrapper">
                <div class="c-overlay-content">
                  <a href="http://www.softtennis-lafino.jp/fs/softtennis/soft-ball/STBD2DOZ" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">詳しく見る</a>
                </div>
              </div>
              <div class="c-bg-img-center-contain c-overlay-object" data-height="height" style="height: 270px; background-image: url('http://www.softtennis-lafino.jp/shop/item/softtennis/picture/goods/79_1.jpg');"></div>
            </div>
            <div class="c-info">
              <p class="c-title c-font-18 c-font-slim">SRIXON　ソフトテニスボール公認球</p>
              <p class="c-price c-font-16 c-font-slim">&yen;4,536- &nbsp;
                <span class="c-font-16 c-font-line-through c-font-red">&yen;3,628-</span>
              </p>
            </div>
          </div>
        </div>
          <div class="item">
          <div class="c-content-product-2 c-bg-white c-border">
            <div class="c-content-overlay">
                <div class="c-label c-bg-red c-font-uppercase c-font-white c-font-13 c-font-bold">New</div>            
              <div class="c-overlay-wrapper">
                  <div class="c-overlay-content">
                    <a href="http://www.softtennis-lafino.jp/fs/softtennis/mizuno-racket/63JTN68001" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">詳しく見る</a>
                  </div>
                </div>
                <div class="c-bg-img-center-contain c-overlay-object" data-height="height" style="height: 270px; background-image: url('http://www.softtennis-lafino.jp/shop/item/softtennis/picture/goods/89_1.jpg');"></div>
              </div>
              <div class="c-info">
                <p class="c-title c-font-18 c-font-slim">mizuno Deep Impact Z-FORWARD</p>
              <p class="c-price c-font-16 c-font-slim">&yen;24,840- &nbsp;
                <span class="c-font-16 c-font-line-through c-font-red">&yen;22,356-</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END: CONTENT/SHOPS/SHOP-2-2 -->