<!-- BEGIN: CONTENT/SHOPS/SHOP-1-2 -->
<div class="c-content-box c-size-md">
  <div class="container">
    <div class="c-content-title-4">
      <h3 class="c-font-uppercase c-center c-font-bold c-line-strike">
        <span class="c-bg-white">人気商品トップ３</span>
      </h3>
    </div>
    <div class="c-content-tab-5 c-theme">
      <!-- Nav tabs -->
      <ul class="nav nav-pills c-nav-tab c-arrow" role="tablist">
        <li role="presentation" class="active">
          <a class="c-font-uppercase" href="#racket" aria-controls="watches" role="tab" data-toggle="tab">ラケット</a>
        </li>
        <li role="presentation">
          <a class="c-font-uppercase" href="#shose" aria-controls="phone" role="tab" data-toggle="tab">シューズ</a>
        </li>
        <li role="presentation">
          <a class="c-font-uppercase" href="#gut" aria-controls="imac" role="tab" data-toggle="tab">ガット</a>
        </li>
        <li role="presentation">
          <a class="c-font-uppercase" href="#accessories" aria-controls="accessories" role="tab" data-toggle="tab">アクセサリ他</a>
        </li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="racket">
          <div class="row">
            {# 商品雛形
            <div class="col-sm-4">
              <div class="c-content c-content-overlay">
                <div class="c-overlay-wrapper c-overlay-padding">
                  <div class="c-overlay-content">
                    <a href="ここに商品ページのURLを入れる" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">
                      ここに商品名を入れる
                    </a>
                  </div>
                </div>
                <div class="c-bg-img-center c-overlay-object" data-height="height"
                  style="height: 270px; background-image: url('ここに商品画像のURLを入れる');"></div>
                <div class="c-overlay-border"></div>
              </div>
            </div>
            #}
            <div class="col-sm-4">
              <div class="c-content c-content-overlay">
                <div class="c-overlay-wrapper c-overlay-padding">
                  <div class="c-overlay-content">
                    <a href="http://www.softtennis-lafino.jp/fs/softtennis/soft-racket/FLR7V-001" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">
                      YONEX ラケット<br>F-LASER 7V（前衛用）
                    </a>
                  </div>
                </div>
                <div class="c-bg-img-center c-overlay-object" data-height="height"
                  style="height: 270px; background-image: url('http://www.softtennis-lafino.jp/shop/item/softtennis/picture/goods/8_1.jpg');"></div>
                <div class="c-overlay-border"></div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="c-content c-content-overlay">
                <div class="c-overlay-wrapper c-overlay-padding">
                  <div class="c-overlay-content">
                    <a href="http://www.softtennis-lafino.jp/fs/softtennis/soft-racket/FLR7S-001" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">
                      YONEX ラケット<br>F-LASER 7S（後衛用）
                    </a>
                  </div>
                </div>
                <div class="c-bg-img-center c-overlay-object" data-height="height"
                  style="height: 270px; background-image: url('http://www.softtennis-lafino.jp/shop/item/softtennis/picture/goods/7_1.jpg');"></div>
                <div class="c-overlay-border"></div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="c-content c-content-overlay">
                <div class="c-overlay-wrapper c-overlay-padding">
                  <div class="c-overlay-content">
                    <a href="http://www.softtennis-lafino.jp/fs/softtennis/soft-racket/63JTN62262" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">
                      mizuno ラケット<br>Xyst TT（後衛用）
                    </a>
                  </div>
                </div>
                <div class="c-bg-img-center c-overlay-object" data-height="height"
                  style="height: 270px; background-image: url('http://www.softtennis-lafino.jp/shop/item/softtennis/picture/goods/82_1.jpg');"></div>
                <div class="c-overlay-border"></div>
              </div>
            </div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="shose">
          <div class="row">
            <div class="col-sm-4">
              <div class="c-content c-content-overlay">
                <div class="c-overlay-wrapper c-overlay-padding">
                  <div class="c-overlay-content">
                    <a href="http://www.softtennis-lafino.jp/fs/softtennis/soft-shoes/61GB171301" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">
                      mizuno シューズ<br>WAVE EXCEED OC
                    </a>
                  </div>
                </div>
                <div class="c-bg-img-center c-overlay-object" data-height="height"
                  style="height: 270px; background-image: url('http://www.softtennis-lafino.jp/shop/item/softtennis/picture/goods/40_1.jpg');"></div>
                <div class="c-overlay-border"></div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="c-content c-content-overlay">
                <div class="c-overlay-wrapper c-overlay-padding">
                  <div class="c-overlay-content">
                    <a href="http://www.softtennis-lafino.jp/fs/softtennis/soft-shoes/61GB171227" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">
                      mizuno シューズ<br>WAVE EXCEED SLIM OC
                    </a>
                  </div>
                </div>
                <div class="c-bg-img-center c-overlay-object" data-height="height"
                  style="height: 270px; background-image: url('http://www.softtennis-lafino.jp/shop/item/softtennis/picture/goods/43_1.jpg');"></div>
                <div class="c-overlay-border"></div>
              </div>
            </div>
             <div class="col-sm-4">
              <div class="c-content c-content-overlay">
                <div class="c-overlay-wrapper c-overlay-padding">
                  <div class="c-overlay-content">
                    <a href="http://www.softtennis-lafino.jp/fs/softtennis/soft-shoes/61GB167201" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">
                      mizuno シューズ<br>WAVE EXCEED TOUR 2 OC
                    </a>
                  </div>
                </div>
                <div class="c-bg-img-center c-overlay-object" data-height="height"
                  style="height: 270px; background-image: url('http://www.softtennis-lafino.jp/shop/item/softtennis/picture/goods/51_1.jpg');"></div>
                <div class="c-overlay-border"></div>
              </div>
            </div>
           </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="gut">
          <div class="row">
            <div class="col-sm-4">
              <div class="c-content c-content-overlay">
                <div class="c-overlay-wrapper c-overlay-padding">
                  <div class="c-overlay-content">
                    <a href="http://www.softtennis-lafino.jp/fs/softtennis/soft-gut/SGVA" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">
                      YONEX ガット<br>V-ACCEL 1.25mm
                    </a>
                  </div>
                </div>
                <div class="c-bg-img-center c-overlay-object" data-height="height"
                  style="height: 270px; background-image: url('http://www.softtennis-lafino.jp/shop/item/softtennis/picture/goods/9_1.jpg');"></div>
                <div class="c-overlay-border"></div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="c-content c-content-overlay">
                <div class="c-overlay-wrapper c-overlay-padding">
                  <div class="c-overlay-content">
                    <a href="http://www.softtennis-lafino.jp/fs/softtennis/soft-gut/CSG650X" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">
                      YONEX ガット<br>CYBER NATURAL X 1.28mm
                    </a>
                  </div>
                </div>
                <div class="c-bg-img-center c-overlay-object" data-height="height"
                  style="height: 270px; background-image: url('http://www.softtennis-lafino.jp/shop/item/softtennis/picture/goods/14_1.jpg');"></div>
                <div class="c-overlay-border"></div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="c-content c-content-overlay">
                <div class="c-overlay-wrapper c-overlay-padding">
                  <div class="c-overlay-content">
                    <a href="http://www.softtennis-lafino.jp/fs/softtennis/soft-gut/CSG550SL" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">
                      YONEX ガット<br>CYBER NATURAL SLASH 1.25mm
                    </a>
                  </div>
                </div>
                <div class="c-bg-img-center c-overlay-object" data-height="height"
                  style="height: 270px; background-image: url('http://www.softtennis-lafino.jp/shop/item/softtennis/picture/goods/11_1.jpg');"></div>
                <div class="c-overlay-border"></div>
              </div>
            </div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="accessories">
          <div class="row">
            <div class="col-sm-4">
              <div class="c-content c-content-overlay">
                <div class="c-overlay-wrapper c-overlay-padding">
                  <div class="c-overlay-content">
                    <a href="http://www.softtennis-lafino.jp/fs/softtennis/soft-ball/STBD2DOZ" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">
                      SRIXON ボール<br>公認球 1ダース(12球入)
                    </a>
                  </div>
                </div>
                <div class="c-bg-img-center c-overlay-object" data-height="height"
                  style="height: 270px; background-image: url('http://www.softtennis-lafino.jp/shop/item/softtennis/picture/goods/79_1.jpg');"></div>
                <div class="c-overlay-border"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END: CONTENT/SHOPS/SHOP-1-2 -->