{% extends "layouts/base.html.twig" %}

{% block slider %}
  {{ include('pages/home/_slider.html.twig') }}
{% endblock %}

{% block content %}
  <div class="c-layout-sidebar-content ">
    ほげふが
    {#{{ include('pages/home/_shop1.html.twig') }}#}
  </div>
{% endblock %}