{% extends "layouts/sidebar.html.twig" %}

{% block slider %}
    {{ include('pages/home_sidebar/_slider.html.twig') }}
{% endblock %}

{% block content %}
    <div class="c-layout-sidebar-content ">
        {{ include('pages/home_sidebar/_shop1.html.twig') }}
    </div>
{% endblock %}