{% extends "layouts/sidebar.html.twig" %}

{% block main_contents %}
  <div class="c-layout-sidebar-content ">
    {{ include('pages/home_sidebar/_slider.html.twig') }}
    {{ include('pages/home_sidebar/_shop1.html.twig') }}
  </div>
{% endblock %}