<li>
  <a href="javascript:;" class="c-link dropdown-toggle">バッグ
    <span class="c-arrow c-toggler"></span>
  </a>
  <ul class="dropdown-menu c-menu-type-classic c-pull-left">
    <li>
      <a href="{{ cat_url('soft-bag') }}">全ブランド</a>
    </li>
    <li>
      <a href="{{ cat_url('yonex-bag') }}">ヨネックス</a>
    </li>
 </ul>
</li>
