<li>
  <a href="javascript:;" class="c-link dropdown-toggle">ブランドで探す
    <span class="c-arrow c-toggler"></span>
  </a>
  <div class="dropdown-menu c-menu-type-mega c-menu-type-fullwidth" style="min-width: auto">
    <div class="row">
      <div class="col-md-3">
        <ul class="dropdown-menu c-menu-type-inline">
          <li>
            <h3>ミズノ</h3>
          </li>
          <li>
            <a href="{{ cat_url('mizuno-racket') }}">ラケット</a>
          </li>
          <li>
            <a href="{{ cat_url('mizuno-shose') }}">シューズ</a>
          </li>
          <li>
            <a href="home-3.html">Home Version 3</a>
          </li>
          <li>
            <a href="home-4.html">Home Version 4</a>
          </li>
          <li>
            <a href="home-5.html">Home Version 5</a>
          </li>
          <li>
            <a href="home-6.html">Home Version 6</a>
          </li>
          <li>
            <a href="home-7.html">Home Version 7</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="dropdown-menu c-menu-type-inline">
          <li>
            <h3>ヨネックス</h3>
          </li>
          <li>
            <a href="{{ cat_url('yonex-racket') }}">ラケット</a>
          </li>
          <li>
            <a href="{{ cat_url('yonex-gut') }}">ガット</a>
          </li>
          <li>
            <a href="home-10.html">Home Version 10</a>
          </li>
          <li>
            <a href="home-11.html">Home Version 11</a>
          </li>
          <li>
            <a href="home-12.html">Home Version 12</a>
          </li>
          <li>
            <a href="home-13.html">Home Version 13</a>
          </li>
          <li>
            <a href="home-14.html">Home Version 14</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="dropdown-menu c-menu-type-inline">
          <li>
            <h3>Onepage Samples</h3>
          </li>
          <li>
            <a href="onepage-1.html" target="_blank">Onepage Version 1</a>
          </li>
          <li>
            <a href="onepage-2.html" target="_blank">Onepage Version 2</a>
          </li>
          <li>
            <a href="onepage-3.html" target="_blank">Onepage Version 3</a>
          </li>
          <li>
            <a href="onepage-4.html" target="_blank">Onepage Version 4</a>
          </li>
          <li>
            <a href="onepage-5.html" target="_blank">Onepage Version 5</a>
          </li>
          <li>
            <a href="onepage-6.html" target="_blank">Onepage Version 6</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="dropdown-menu c-menu-type-inline">
          <li>
            <h3>Onepage Samples</h3>
          </li>
          <li>
            <a href="onepage-7.html" target="_blank">Onepage Version 7</a>
          </li>
          <li>
            <a href="onepage-8.html" target="_blank">Onepage Version 8</a>
          </li>
          <li>
            <a href="onepage-9.html" target="_blank">Onepage Version 9</a>
          </li>
          <li>
            <a href="onepage-10.html" target="_blank">Onepage Version 10</a>
          </li>
          <li>
            <a href="onepage-11.html" target="_blank">Onepage Version 11</a>
          </li>
          <li>
            <a href="onepage-12.html" target="_blank">Onepage Version 12</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</li>