<li>
  <a href="javascript:;" class="c-link dropdown-toggle">ガット
    <span class="c-arrow c-toggler"></span>
  </a>
  <ul class="dropdown-menu c-menu-type-classic c-pull-left">
    <li>
      <a href="{{ cat_url('gosen-gut') }}">ゴーセン</a>
    </li>
    <li>
      <a href="{{ cat_url('yonex-gut') }}">ヨネックス</a>
    </li>
    <li class="dropdown-submenu">
      <a href="#">Mega Menu
        <span class="c-arrow c-toggler"></span>
      </a>
      <ul class="dropdown-menu c-pull-right">
        <li>
          <a href="megamenu-light.html">Mega Menu - Light</a>
        </li>
        <li>
          <a href="megamenu-dark.html">Mega Menu - Dark</a>
        </li>
      </ul>
    </li>
    <li class="dropdown-submenu">
      <a href="page-extended-portfolio.html">Multi Level Menu
        <span class="c-arrow c-toggler"></span>
      </a>
      <ul class="dropdown-menu c-pull-right">
        <li>
          <a href="#">Example Link</a>
        </li>
        <li>
          <a href="#">Example Link</a>
        </li>
        <li>
          <a href="#">Example Link</a>
        </li>
        <li class="dropdown-submenu">
          <a href="#">Example Sub Menu
            <span class="c-arrow c-toggler"></span>
          </a>
          <ul class="dropdown-menu c-pull-left">
            <li>
              <a href="#">Example Link</a>
            </li>
            <li>
              <a href="#">Example Link</a>
            </li>
            <li>
              <a href="#">Example Link</a>
            </li>
            <li class="dropdown-submenu">
              <a href="#">Example Sub Menu
                <span class="c-arrow c-toggler"></span>
              </a>
              <ul class="dropdown-menu c-pull-left">
                <li>
                  <a href="#">Example Link</a>
                </li>
                <li>
                  <a href="#">Example Link</a>
                </li>
                <li>
                  <a href="#">Example Link</a>
                </li>
                <li>
                  <a href="#">Example Link</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">Example Link</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">Example Link</a>
        </li>
        <li>
          <a href="#">Example Link</a>
        </li>
      </ul>
    </li>
  </ul>
</li>