<li>
  <a href="javascript:;" class="c-link dropdown-toggle">ガット
    <span class="c-arrow c-toggler"></span>
  </a>
  <ul class="dropdown-menu c-menu-type-classic c-pull-left">
    <li>
      <a href="{{ cat_url('soft-gut') }}">全ブランド</a>
    </li>
    <li>
      <a href="{{ cat_url('yonex-gut') }}">ヨネックス</a>
    </li>
    <li>
      <a href="{{ cat_url('gosen-gut') }}">ゴーセン</a>
    </li>
  </ul>
</li>