<li>
  <a href="javascript:;" class="c-link dropdown-toggle">アクセサリ他
    <span class="c-arrow c-toggler"></span>
  </a>
  <ul class="dropdown-menu c-menu-type-classic c-pull-left">
    <li>
      <a href="{{ cat_url('soft-racket-accessories') }}">ラケットアクセサリ</a>
    </li>
    <li>
      <a href="{{ cat_url('soft-wear-accessories') }}">ウェアアクセサリ</a>
    </li>
    <li>
      <a href="{{ cat_url('soft-othergoods') }}">その他グッズ</a>
    </li>
  </ul>
</li>