<li>
  <a href="javascript:;" class="c-link dropdown-toggle">シューズ
    <span class="c-arrow c-toggler"></span>
  </a>
  <ul class="dropdown-menu c-menu-type-mega c-menu-type-fullwidth" style="min-width: auto">
    <li>
      <ul class="dropdown-menu c-menu-type-inline">
        <li>
          <h3>メンズ</h3>
        </li>
        <li>
          <a href="{{ cat_url('mizuno-shose') }}">ミズノ</a>
        </li>
        <li>
          <a href="page-about-3.html">About Us 2</a>
        </li>
        <li>
          <a href="page-about-3.html">About Us 3</a>
        </li>
        <li>
          <a href="page-about-4.html">About Us 4</a>
        </li>
        <li>
          <a href="page-team.html">Meet The Team</a>
        </li>
      </ul>
    </li>
    <li>
      <ul class="dropdown-menu c-menu-type-inline">
        <li>
          <h3>レディース</h3>
        </li>
        <li>
          <a href="page-contact-1.html">Contact Us 1</a>
        </li>
        <li>
          <a href="page-contact-2.html">Contact Us 2</a>
        </li>
        <li>
          <a href="page-contact-3.html">Contact Us 3</a>
        </li>
        <li>
          <a href="page-faq.html">FAQ</a>
        </li>
        <li>
          <a href="page-faq-2.html">FAQ 2</a>
        </li>
      </ul>
    </li>
    <li>
      <ul class="dropdown-menu c-menu-type-inline">
        <li>
          <h3>Gallery Pages</h3>
        </li>
        <li>
          <a href="page-product-launch.html">Product Launch</a>
        </li>
        <li>
          <a href="page-lightbox-gallery.html">Lightbox Gallery</a>
        </li>
        <li>
          <a href="page-fullwidth-gallery.html">Full Width Gallery</a>
        </li>
        <li>
          <a href="page-masonry-gallery.html">Masonry Gallery</a>
        </li>
        <li>
          <a href="page-index-gallery.html">Gallery Index</a>
        </li>
      </ul>
    </li>
    <li>
      <ul class="dropdown-menu c-menu-type-inline">
        <li>
          <h3>Portfolio Pages</h3>
        </li>
        <li>
          <a href="page-4col-portfolio.html">4 Columns Portfolio</a>
        </li>
        <li>
          <a href="page-2col-portfolio.html">2 Columns Portfolio</a>
        </li>
        <li>
          <a href="page-masonry-portfolio.html">Masonry Portfolio</a>
        </li>
        <li>
          <a href="page-extended-portfolio.html">Extended Portfolio</a>
        </li>
      </ul>
    </li>
    <li>
      <ul class="dropdown-menu c-menu-type-inline">
        <li>
          <h3>Blog Pages</h3>
        </li>
        <li>
          <a href="page-blog-list.html">Blog List View</a>
        </li>
        <li>
          <a href="page-blog-grid.html">Blog Grid View</a>
        </li>
        <li>
          <a href="page-blog-post.html">Blog Single Post</a>
        </li>
      </ul>
    </li>
  </ul>
</li>