<li>
  <a href="javascript:;" class="c-link dropdown-toggle">ウェア
    <span class="c-arrow c-toggler"></span>
  </a>
  <ul class="dropdown-menu c-menu-type-mega c-menu-type-fullwidth" style="min-width: auto">
    <li>
      <ul class="dropdown-menu c-menu-type-inline">
        <li>
          <h3>Shop Pages 1</h3>
        </li>
        <li>
          <a href="shop-home-1.html">Shop Home 1</a>
        </li>
        <li>
          <a href="shop-home-2.html">Shop Home 2</a>
        </li>
        <li>
          <a href="shop-home-3.html">Shop Home 3</a>
        </li>
        <li>
          <a href="shop-home-4.html">Shop Home 4</a>
        </li>
        <li>
          <a href="shop-home-5.html">Shop Home 5</a>
        </li>
        <li>
          <a href="shop-home-6.html">Shop Home 6</a>
        </li>
        <li>
          <a href="shop-home-7.html">Shop Home 7</a>
        </li>
        <li>
          <a href="shop-product-list.html">Product List</a>
        </li>
      </ul>
    </li>
    <li>
      <ul class="dropdown-menu c-menu-type-inline">
        <li>
          <h3>Shop Pages 2</h3>
        </li>
        <li>
          <a href="shop-product-grid.html">Product Grid</a>
        </li>
        <li>
          <a href="shop-product-search.html">Product Search</a>
        </li>
        <li>
          <a href="shop-product-details.html">Product Details 1</a>
        </li>
        <li>
          <a href="shop-product-details-2.html">Product Details 2</a>
        </li>
        <li>
          <a href="shop-product-details-3.html">Product Details 3</a>
        </li>
        <li>
          <a href="shop-product-details-4.html">Product Details 4</a>
        </li>
        <li>
          <a href="shop-product-comparison.html">Product Comparison</a>
        </li>
        <li>
          <a href="shop-product-wishlist.html">Wish List</a>
        </li>
      </ul>
    </li>
    <li>
      <ul class="dropdown-menu c-menu-type-inline">
        <li>
          <h3>Shop Pages 3</h3>
        </li>
        <li>
          <a href="shop-customer-account.html">Customer Login/Register</a>
        </li>
        <li>
          <a href="shop-customer-dashboard.html">Customer Dashboard</a>
        </li>
        <li>
          <a href="shop-order-history.html">Order History</a>
        </li>
        <li>
          <a href="shop-order-history-2.html">Order History 2</a>
        </li>
        <li>
          <a href="shop-cart.html">Shopping Cart</a>
        </li>
        <li>
          <a href="shop-cart-empty.html">Shopping Cart(empty)</a>
        </li>
        <li>
          <a href="shop-checkout.html">Checkout</a>
        </li>
        <li>
          <a href="shop-checkout-complete.html">Checkout Complete</a>
        </li>
      </ul>
    </li>
    <li>
      <ul class="dropdown-menu c-menu-type-inline">
        <li>
          <h3>Shop Components</h3>
        </li>
        <li>
          <a href="component-shop-1.html">Shop Components 1</a>
        </li>
        <li>
          <a href="component-shop-2.html">Shop Components 2</a>
        </li>
        <li>
          <a href="component-shop-3.html">Shop Components 3</a>
        </li>
        <li>
          <a href="component-shop-4.html">Shop Components 4</a>
        </li>
        <li>
          <a href="component-shop-5.html">Shop Components 5</a>
        </li>
        <li>
          <a href="component-shop-6.html">Shop Components 6</a>
        </li>
        <li>
          <a href="component-shop-7.html">Shop Components 7</a>
        </li>
      </ul>
    </li>
  </ul>
</li>